.App {
  text-align: center;
  height: 100vh;
}

#root {
  height: 100vh
}

.App-header {
  background-color: #babaff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

